core-bc/composites/schema/src/main/wsdl/Certificate.svc.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="Certificate" targetNamespace="http://tempuri.org/">
  <wsp:Policy wsu:Id="WSHttpBinding_ITearsData_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false"/>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256/>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict/>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing/>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="xsd0.xml" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="xsd1.xml" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="xsd2.xml" namespace="http://schemas.datacontract.org/2004/07/Tears.Proxy.Interface"/>
      <!--<xsd:import schemaLocation="https://vgms0086.vgregion.se/vgregion/Tears.Proxy/Certificate.svc?xsd=xsd0" namespace="http://tempuri.org/"/>-->
      <!--<xsd:import schemaLocation="https://vgms0086.vgregion.se/vgregion/Tears.Proxy/Certificate.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>-->
      <!--<xsd:import schemaLocation="https://vgms0086.vgregion.se/vgregion/Tears.Proxy/Certificate.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tears.Proxy.Interface"/>-->
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITearsData_GetPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatient"/>
  </wsdl:message>
  <wsdl:message name="ITearsData_GetPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientResponse"/>
  </wsdl:message>
  <wsdl:message name="ITearsData_GetPatientCategoryList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientCategoryList"/>
  </wsdl:message>
  <wsdl:message name="ITearsData_GetPatientCategoryList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientCategoryListResponse"/>
  </wsdl:message>
  <wsdl:message name="ITearsData_InsertCertificate_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCertificate"/>
  </wsdl:message>
  <wsdl:message name="ITearsData_InsertCertificate_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCertificateResponse"/>
  </wsdl:message>
  <wsdl:portType name="ITearsData">
    <wsdl:operation name="GetPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/ITearsData/GetPatient" message="tns:ITearsData_GetPatient_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ITearsData/GetPatientResponse" message="tns:ITearsData_GetPatient_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetPatientCategoryList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITearsData/GetPatientCategoryList" message="tns:ITearsData_GetPatientCategoryList_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ITearsData/GetPatientCategoryListResponse" message="tns:ITearsData_GetPatientCategoryList_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="InsertCertificate">
      <wsdl:input wsaw:Action="http://tempuri.org/ITearsData/InsertCertificate" message="tns:ITearsData_InsertCertificate_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ITearsData/InsertCertificateResponse" message="tns:ITearsData_InsertCertificate_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ITearsData" type="tns:ITearsData">
    <wsp:PolicyReference URI="#WSHttpBinding_ITearsData_policy"/>
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetPatient">
      <soap12:operation soapAction="http://tempuri.org/ITearsData/GetPatient" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientCategoryList">
      <soap12:operation soapAction="http://tempuri.org/ITearsData/GetPatientCategoryList" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCertificate">
      <soap12:operation soapAction="http://tempuri.org/ITearsData/InsertCertificate" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Certificate">
    <wsdl:port name="WSHttpBinding_ITearsData" binding="tns:WSHttpBinding_ITearsData">
      <soap12:address location="https://vgms0086.vgregion.se/vgregion/Tears.Proxy/Certificate.svc"/>
      <wsa10:EndpointReference>
        <wsa10:Address>
          https://vgms0086.vgregion.se/vgregion/Tears.Proxy/Certificate.svc
        </wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>